html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.btn-shine {
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  max-width: 500px;
  -webkit-text-fill-color: transparent;
  animation: shine 20s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 45px;
  text-decoration: none;
  /* white-space: nowrap; */
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 320px;
  }

  100% {
    background-position: 0;
  }
}

.modal {
  max-width: 680px;
  width: 100%;
  height: 350px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: black;
  border-radius: 12px;
  border: solid 1px white;
  overflow-y: auto;
  color: #fff;
  z-index: 99999;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 14px;
}

.project {
  position: relative;
  transition: all;
  cursor: pointer;
  border-radius: 8px;
}

.content {
  position: absolute;
  font-size: 22px;
  color: white;
  bottom: 15px;
  opacity: 0;
  transition: all;
  z-index: 5555 !important;
  padding-left: 50px;
}
.projectImg {
  background: linear-gradient(
    to right,
    rgb(0, 0, 0) 150px,
    rgba(5, 5, 5, 0.64) 70%
  );
  z-index: 1;
  opacity: 0.6;
}
.project:hover {
  transition: all;
}

.project:hover .content {
  opacity: 1;
  z-index: 99999 !important;
  bottom: 35px;
  transition: all 0.8s;
}

.title {
  font-size: 55px;
  opacity: 1;
  font-weight: 700;
}
